{{> Dau_Trang}}
<div class="p-4 m-1"></div>
<div class="container-fluid">
    <h3 class="col-12 col-md-8 mx-auto my-4">MÀN HÌNH BÁN VÉ</h3>
    <div class="d-flex justify-content-between row col-12 col-md-8 mx-auto my-4">
        <form class="col-12 col-md-6 px-0" action="">
            <div class="row mt-2">
                <label class="col-form-label col-12 col-md-3" for="Phim">Tên Phim</label>
                <div class="col-12 col-md-9">
                    <select class="form-select" name="Phim" id="Phim">
                        <option id="1">hihi 1</option>
                        <option id="2">hihi 2</option>
                        <option id="3">hihi 3</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-form-label col-12 col-md-3" for="Rap">Rạp</label>
                <div class="col-12 col-md-9">
                    <select class="form-select" name="Rap" id="Rap">
                        <option id="1">hihi 1</option>
                        <option id="2">hihi 2</option>
                        <option id="3">hihi 3</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-form-label col-12 col-md-3" for="Ngay">Ngày</label>
                <div class="col-12 col-md-9">
                    <select class="form-select" name="Ngay" id="Ngay">
                        <option id="1">hihi 1</option>
                        <option id="2">hihi 2</option>
                        <option id="3">hihi 3</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-form-label col-12 col-md-3" for="Ca">Ca</label>
                <div class="col-12 col-md-9">
                    <select class="form-select" name="Ca" id="Ca">
                        <option id="1">hihi 1</option>
                        <option id="2">hihi 2</option>
                        <option id="3">hihi 3</option>
                    </select>
                </div>
            </div>
            <div class="row mt-2">
                <label class="col-form-label col-12 col-md-3" for="Xuat_Chieu">Xuất Chiếu</label>
                <div class="col-12 col-md-9">
                    <select class="form-select" name="Xuat_Chieu" id="Xuat_Chieu">
                        <option id="1">hihi 1 - Phòng A (60)</option>
                        <option id="2">hihi 2 - Phòng B (100)</option>
                        <option id="3">hihi 3 - Phòng C (60)</option>
                    </select>
                </div>
            </div>
            <h5 class="mt-4">Ghế</h5>
            <div id="Danh_Sach_Ghe">
                <div class="col-12 d-flex justify-content-between mt-2">
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                </div>
                <div class="col-12 d-flex justify-content-between mt-2">
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                    <span class="btn btn-secondary px-2 py-1">01</span>
                </div>
            </div>
            <button class="btn btn-success mt-4" type="submit">Tạo Vé</button>
        </form>
        <form class="col-12 col-md-5 px-0" action="">
            <h5>Thông Tin Vé</h5>
            <div class="d-flex justify-content-between rows mt-2">
                <span class="" for="Phim">Tên Phim</span>
                <span>ABC</span>
            </div>
            <div class="d-flex justify-content-between rows mt-2">
                <span class="" for="Phim">Tên Phim</span>
                <span>ABC</span>
            </div>
            <div class="d-flex justify-content-between rows mt-2">
                <span class="" for="Phim">Tên Phim</span>
                <span>ABC</span>
            </div>
            <div class="d-flex justify-content-between rows mt-2">
                <span class="" for="Phim">Tên Phim</span>
                <span>ABC</span>
            </div>
            <div class="d-flex justify-content-between rows mt-2">
                <span class="" for="Phim">Tên Phim</span>
                <span>ABC</span>
            </div>
        </form>
    </div>

</div>
<div class="p-4 m-1"></div>
{{> Chan_Trang}}